<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="carrito">
  <ion-list>
    <ion-item-sliding *ngFor="let item of carrito; let i=index;">
      <ion-item *ngIf="item.cant > 0">
        <img [src]=item.photo width="120px" class="ion-margin imagen">
        <ion-label>
          <h1>{{item.nombre}}</h1><br>
          <ion-label>
            <ion-chip color="secondary" mode="md" outline="false">
              <ion-label>{{item.precio | currency}}</ion-label>
            </ion-chip>
          </ion-label>
          <ion-label>
            <ion-chip color="success" mode="md" outline="false">
              <ion-label>x {{item.cant}}</ion-label>
            </ion-chip>
          </ion-label>
        </ion-label>
        <ion-button color="danger" fill="outline" size="medium">
          <ion-label>{{item.cant * item.precio | currency}}</ion-label>
        </ion-button>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="removeCarro(item, item.id)">
        <ion-item-option expandable color="warning" (click)="restCarro(item, item.id)">
          <ion-icon name="remove"></ion-icon>
        </ion-item-option>
        <ion-item-option expandable color="danger" (click)="removeCarro(item, item.id)">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-item color="danger" style="position: absolute; bottom: 0px; width: 100%;" *ngIf="carrito">
  <ion-label>
    <h1>Total: </h1>
  </ion-label>
  <ion-button color="danger" expand="block" fill="solid" size="large">
    <ion-label>{{total | currency}}</ion-label>
  </ion-button>
</ion-item>